# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\OneDrive_purdue_edu\schoolwork_gradchool_2_1\leetcode\1509 Min Difference Between LArgest and Smallest Val in Three Moves\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
