# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\OneDrive_purdue_edu\schoolwork_gradchool_2_1\leetcode\428 Serialize and Deserialize N-ary Tree\python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
